<header class="header--main">

  <div class="header-wrapper">

    <div class="wrap grid__2-col ">

      {% if site.data.settings.header_settings.logo_image %}
      <a href="{{ site.baseurl }}/" class="header__logo">
        <img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
        <span class="header__logo__name">The Keanu Engine</span>
      </a>
      {% else %}
      <a href="{{ site.baseurl }}/" class="header__logo">
        <span class="header__logo__name">
          {{ site.data.settings.basic_settings.site_title }}
        </span>
      </a>
      {% endif %}

      <div class="menu__toggle js-menu-toggle">
        <div class="menu__toggle__icon"><span></span></div>
      </div>

      <nav class="header__menu">
        <div class="menu__wrap">
          <ul class="menu__list">
            {% for item in site.data.settings.menu_settings.menu_items %}
            <li class="menu__list__item">
              <a href="{{ item.url | relative_url }}" class="menu__list__item__link button--text">{{ item.title }}</a>
            </li>
            {% endfor %}
            <li class="menu__cta">
              <a href="#" class="menu__cta__link button--text contact-trigger js-contact">Reach Out</a>
            </li>
          </ul>
        </div>
      </nav>

      <a href="#" class="header__cta button--fill contact-trigger js-contact">Reach Out</a>
    </div>
  </div>


</header>