// - - - - - - - - - - - - - - - - - -

// Header + menu

// - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Header

.header--main {
  position: fixed;
	width: 100%;
  z-index: 2000;
  
  &-secondary {
    height: 483px;
  }
  
  .header-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 11px 0;
  }
  
	.header__logo {
    display: flex;
		// align-self: center;
		flex-direction: row;
		align-items: center;
		// width: $logo-width;
		position: relative;
		z-index: 10;
    
		&__img {
      width: 60px;
			height: auto;
			display: block;
		}
    
		&__name {
      display: block;
			font-size: 15px;
			font-weight: $extra-weight;
			padding-left: 7px;
			color: $accent-color;
      
			@include mq(laptop) {
        font-size: 20px;
				padding-left: 9px;
        
			}
		}
    
		&:hover {
      color: #000;
			text-decoration: none;
		}
	}

	.header__title {
    font-family: $title-font;
		font-size: 15px;
    text-decoration: none;
		font-weight: $sitetitle-weight;
		letter-spacing: $sitetitle-spacing;
		line-height: 1;
		color: $accent-color;
    

		&:hover {
      color: $accent-color;
		}
	}
  
	.header__menu {
    display: flex;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 10px;
		left: 0;
		z-index: 1000;
    background-color: #fff;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.6s cubic-bezier(0.2, 0.3, 0, 1));

    @include mq(tabletp) {
      background-color: transparent;
    }

	}
  
	.header__cta {
    justify-self: end;
		align-self: center;
		display: none;
	}


	@include mq(tabletp) {

		.wrap {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.header__menu {
			width: initial;
			height: initial;
			position: relative;
			background-color: none;
			left: 170px;
			opacity: 1;
			visibility: visible;
			align-self: center;
			top: 0;

		}

		.header__menu,
		.header__cta {
			display: block;
			z-index: 1001;
		}
	}


	@include mq(laptop) {
		.header__menu {
			left: 420px;
		}
	}



}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Menu

.menu__toggle {
	position: absolute;
	z-index: 1002;
	width: 40px;
	height: 40px;
	top: 50%;
	right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	@include translate(0, -50%);
	cursor: pointer;
	background-color: transparentize($accent-color, 0.92);
	border-radius: 8px;

	&:active {
		background-color: transparentize($accent-color, 0.86);
	}

	@include mq(tabletp) {

		display: none;
	}
}

.menu__toggle__icon {
	position: relative;

	span,
	span:before,
	span:after {
		content: "";
		display: block;
		width: 18px;
		height: 3px;
		@include transition(all 0.12s);
		background: $accent-color;
		border-radius: 4px;
	}

	span:before {
		position: absolute;
		top: -6px;
	}

	span:after {
		position: absolute;
		bottom: -6px;
	}
}

.menu--open .menu__toggle__icon {
	span {
		background-color: transparent !important;
	}

	span:before,
	span:after {
		top: 0;
	}

	span:before {
		@include rotate(45);
	}

	span:after {
		@include rotate(-45);
	}
}

.menu--open .header__menu {
	opacity: 1;
	visibility: visible;
	top: 0px;
}

.menu__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 120px;
	margin-bottom: 0;

	.menu__list__item {
		margin-bottom: 24px;
	}

	.menu__list__item__link,
	.menu__cta__link {
		font-size: 28px;
		font-weight: $medium_weight;
		font-family: $mobile-menu-font;
		line-height: $h4-lineheight;
		letter-spacing: $h4-spacing-small;
		text-transform: none;
    color: $accent-color;

		&.active-link {
			color: $accent-color;
		}

    @include mq(tabletp) {
      font-size: 14px;
      font-family: $body-font;
    }
	}

	.menu__cta__link {
		color: $accent-color;
	}

	@include mq(tabletp) {
		margin-top: 0;
		flex-direction: row;

		.menu__list__item {
			margin-bottom: 0px;

			&:not(:first-child) {
				margin-left: 50px;
			}
		}

		.menu__list__item__link {
			font-size: 17px;
			line-height: 18px;
			display: inline-block;
			color: $accent-color;
			letter-spacing: $button-spacing;
			// text-transform: u;
		}

		.menu__cta__link {
			display: none;
		}
	}
}