
.btn {
	// display: block;
	color: $accent_color;
	background-color: transparent;
	border-radius: 32px;
	text-transform: uppercase;
	font-family: $body-font;
	font-weight: $bold-weight;
	font-size: 12px;
	border: 2px solid $accent-color;
	padding: 14px 89px;
	transition: 2s ease;
	&:hover {
		border: 2px solid rgba($accent-color, 0.9);
		text-decoration: none;
	}
}


// Red button for dark backgrounds
.button--fill {
  &--red {
    background-color: $accent-secondary;
    &:hover {
      background-color: lighten($color: $accent-secondary, $amount: 5);
    }
  }
}

a {
	font-family: $body-font;
	font-weight: $regular_weight;
	line-height: 23px;
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  color: $accent-color;
}


.headline {
  // font-weight: normal;
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
  
  &__number {
    font-family : $title-font;
    color: $accent-color;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: $bold-weight;
    background-color: #F2F6FB;
    border-radius: 10 px;
    display: inline-block;
    margin-bottom: 15px;
  }
  
	&__title {
		font-weight: $extra-weight;
		font-size: 42px;
	}

	&__subtitle {
		font-family: $body-font;
		font-weight: $bold-weight;
		font-size: 12px;
		text-transform: uppercase;
		color: $accent-secondary;
		display: block;
		margin-bottom: 10px;
		letter-spacing: 0.1em;
	}

}

// SECONDARY PAGE HERO SECTION
.secondary-hero {
  position: relative;
	width: 100%;
	height: 467px;
	min-height: 225px;
	background-color: #F1F1F1;

	&__txt {
		position: absolute;
		bottom: 10%;
	}
}

.sect {
	padding: 60px 0;

	@include mq(tabletp) {
		padding: 70px 0;
	}

	@include mq(tabletl) {
		padding: 80px 0;
	}

	@include mq(laptop) {
		padding: 100px 0;
	}
}

.models-block {
	text-align: center;

	img {
		display: block;
		margin: auto;
		margin-bottom: 19px;
	}

	p {
		font-size: 16px;
	}

	&__box {
		// display: block;
		margin-bottom: 40px;
		@include mq(tabletl) {
			margin-bottom: 0px;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.model-block {

	&__txt {
		text-align: center;
		margin-bottom: 40px;
	}

	&__name {
		border-radius: 4px;
		padding: 5px 20px;
		color: #F7F7F7;
		font-family: $body-font;
		font-weight: $bold-weight;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.1em;
		&--convene {
			background-color: #FE4E6E;
		}
		&--circle {
			background-color: #F0B051;
		}
		&--speak {
			background-color: #B85DFF;
		}

		&--connect {
			background-color: #1CE783;
		}

	}

	h2 {
		margin: 16px 0;
	}

	p {
		margin-bottom: 40px;
	}

	@include mq(tabletl) {
		&__txt {
			text-align: left;
			margin-bottom: 0;
		}
	}
}

.block-images {
	text-align: left;
	margin-top: 60px;
	img {
		display: block;
		margin-left: 0;
	}

	h6 {
		font-size: 20px;
		font-weight: $bold-weight;

	}
}

// Styles for all case study blocks
.case-study {
	margin-top: 30px;
	box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.12);

	img {
		width: 100%;
	}

	h5 {
		text-transform: capitalize;
	}

	&__link {
		padding-top: 15px;
		border-top: 1px solid #C8C8C8;
	}


}

// Privacy block section
.privacy-block {
  color: #fff;
  background-color: $accent-color;

  h1 {
    color: #fff;
    font-size: 72px;
  }
}



// FOOTER

// Custom footer styles, labeled as "main-footer.html" in includes folder
.main-footer {
	padding: 60px 0;
	background-color: $accent-color;
	color: #fff;
	font-family: $footer_font;

	&__logo-block {
		display: block;
		text-align: center;
		span {
			&:nth-child(2) {
				padding: 0 15px;
				font-size: 25px;
			}
		}
	}

	&__logo {
		font-family: $body-font;
		font-weight: $extra-weight;
		text-transform: uppercase;
		font-size: 22px;
		display: inline-block;
	}

	&__motto {
		display: inline-block;
		font-weight: $bold-weight;
		font-size: 19px;
	}

	// Alighnin the content in the right side of the footer
	&__right {
		text-align: center;
		margin-top: 50px;
	}

	// FOOTER MENU
	&__menu {
		display: block;

		ul.footer-menu {
			list-style-type: none;
			li {
				display: inline;
				a {
					font-family: $footer-font !important;
					color: #fff;
					font-weight: $bold-weight;
					font-size: 20px;
				}
			}
		}
	}

	// Footer copyright and policy
	&__policy {
		color: #B2B2B2;
		font-size: 19px;

    .divider {
      padding: 0 10px
    }

		span {
			&:nth-child(5) {
				padding-right: 15px;
			}
			a {
				color: #B2B2B2 !important;
			}
	
		}
	}

// Language block
	&__language-block {
		display: block;
		margin-top: 20px;
		margin-left: 120px;
		span {
			display: inline-block;
			margin-right: 10px;
		}
	}

.dropdown {
	display: inline-block;
	position: relative;
	a {
		color: #fff;
		font-size: 19px;
		&:hover {
			cursor: pointer;
		}
	}

	&__content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		// min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		a {
			color: black;
			padding: 8px 12px;
			text-decoration: none;
			display: block;
			transition: .5s ease;
			&:hover {
				background-color: #bbbbbb;
			}
		}

	}

	&:hover {
		.dropdown__content {
				display: block;
		}
	}

}

@include mq(phonel) {

	&__menu {
		ul.footer-menu {
			li {
        padding: 0 15px;
			}
		}
	}

}

@include mq(tabletl) {
	padding: 100px 80px;
	&__right {
		text-align: right;
		margin-top: 0;
	}

	&__logo-block {
		text-align: left;
	}

  &__menu {

		ul.footer-menu {
			li {
        padding: 0 20px;
			}
		}
	}

}

@include mq(laptop) {
	padding: 100px 150px;

  ul.footer-menu {
    li {
      padding: 0 25px;
    }
  }
}

}




//***  SECONDARY PAGES STYLES ***//


.page-secondary {
	.block-images {
		margin-top: 10px;
	}
}


// HERO SECTION ON HOME PAGE
.section-hero {
	position: relative;
	width: 100%;
	height: 700px;
	min-height: 325px;
	background-color: #F7F7F7;
	background-position: center center;
  background-repeat: no-repeat;
	padding-top: 148px;

	&__txt {


		p {
			font-size: $p-large-size;
			margin: 25px 0;
		}
	}
}
