
.headline {
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;

	&__title {
		font-weight: $extra-weight;
		font-size: 42px;
	}

	&__subtitle {
		font-family: $body-font;
		font-weight: $bold-weight;
		font-size: 12px;
		text-transform: uppercase;
		color: #5C5C5C;
		display: block;
		margin-bottom: 10px;
		letter-spacing: 0.1em;
	}
	

}